body {
  background-color: black;
  width: 2000px;
}
#navbar {
  float: left;
  width: 100px;
  height: 100%;
  background-color: #eee;
}

#navbar ul {
  padding: 0px;
}

#navbar li {
  list-style: none;
  font-weight: bold;
  font-size: 15px;
  padding-top: 20px;
  padding-left: 10px;
  /*border-bottom: solid 2px;*/
}

input {
  margin-top: 20px;
  margin-left: 10px;
  background-color: white;
}

#boards {
  width: 1900px;
  float: right;
  /*background-color: red;*/
  background-color: #9e8d68;
  margin: 0;
  padding: 0;
  height: 100%;
}

.post-it {
  position: absolute !important;
  width: 160px;
  background-color: yellow;
  box-shadow: -2px 2px 5px #555;
  overflow: hidden;
}

.post-it .header {
  background-color: #c2c25b;
  text-align: right;
  padding: 2px;
  height: 15px;
  width: 156px;
}

.post-it .header:hover {
  background-color: #a8a860;
}

.post-it .header a, .post-it .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.post-it .header a:hover {
  color: #eee;
}

.post-it .content {
  padding: 10px;
  min-height: 70px;
  outline: none;
}

.close{
  text-align: center;
  width: 15px;
  float: right;
}

.close a:hover {
}



